.calculator {
    display: flex;
    justify-content: center;
    padding: red;
    background-size:0%;
    background-color:darkblue;
}


.text-box {
    background-color: white;
    
}
#enter {
    background-color: lightblue;
}
#ac {
    background-color: red;
}
input[type=text]{
    width: 700px;
    height:100px;
}
input[type=button] {
    width: 100px;
    height: 50px;
}
input[value]{
    font-size: 25px;
}

input[id=result]{
    font-size: 25px;    
}